/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "tailwindcss";

:root {
  --color-text-primary: #2A2A2A;
  --color-text-secondary: #4A5565;
  --color-text-placeholder: #7F93B7;
  --color-bg-primary: #F3F7FF;
  --color-bg-secondary: #E3EBF6;
  --color-bg-sidebar: #E6EDF8;
  --color-border-hr: #D9DBDD;
  --color-hover-secondary: #D4DCED;
  --color-hover-secondary-alt: #C9D4EA;
  --gradient-blue-purple: linear-gradient(135deg, #3b82f6 0%, #8b5cf6 100%);
  --sidebar-open-width: 260px;
  --sidebar-closed-width: 80px;
}
.app-container.dark-theme {
  /* Dark theme colors */
  --color-text-primary: #2A2A2A;
  --color-text-secondary: #4A5565;
  --color-text-placeholder: #7F93B7;
  --color-bg-primary: #F3F7FF;
  --color-bg-secondary: #E3EBF6;
  --color-bg-sidebar: #E6EDF8;
  --color-border-hr: #D9DBDD;
  --color-hover-secondary: #D4DCED;
  --color-hover-secondary-alt: #C9D4EA;
}
